body {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  position: relative;
  height: 100%;
}

header {
  background: rgb(63,81,181,1);
  padding: 0.5rem 5vw;
}

header a {
  color: white;
  font-weight: 800;
  text-decoration: none;
}

main {
  margin: 2rem auto 2rem;
  max-width: 680px;
  width: 100%;
}

footer {
  color: #444;
  font-size: 0.875rem;
  text-align: center;
}

footer a {
  color: inherit;
}

.bookWiz {
  background-color: #ffffff;
  min-width: 300px;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  width:100%;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Arial;
  border: 1px solid #aaaaaa;
  margin:20px;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 20px;
  width: 20px;
  margin: 0;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.steps {
  padding-top:30px;text-align:center;margin-left:auto;margin-right:auto;width:100%;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: rgb(100,255,218,1);
}

.demo-card-square.mdl-card {
  width:50%;
  height: 400px;
  padding: 0.5rem;
  margin: 0.5rem;
}

.mdl-card__title-text {
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center !important;
  text-transform:none !important;
}

.mdl-card__supporting-text {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  text-transform:none !important;
}

.mdl-card__title {
  width: 100%;
  height: 160px;
  background-position: center;
  background-size: cover;
}

.mdl-card__actions {
  vertical-align: bottom !important;
}

.swiper-container {
  width: 100%;
  height: 100% !important;
  padding: 0.5rem;
  margin: 0.5rem;
}

.swiper-slide {
  text-transform:none !important;
  text-align: center;
  height: 100% !important;
  font-size: 18px;
  background: #fff;
}

.swiper-container2 {
  height: 100% !important;
}

.swiper-slide2 {
  height: 360px !important;
  border-radius: 2px;
  padding: 5px;
}