body {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background: teal;
  padding: 1rem 5vw;
}

header a {
  color: white;
  font-weight: 800;
  text-decoration: none;
}

main {
  margin: 2rem auto 2rem;
  max-width: 680px;
  width: 100%;
}

footer {
  color: #444;
  font-size: 0.875rem;
  text-align: center;
}

footer a {
  color: inherit;
}

.product {
  background-size: contain;
}

.products {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
  align-items: center;
  justify-items: center;
}

#bookWiz {
  background-color: #ffffff;
  width: 100%;
  min-width: 300px;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Arial;
  border: 1px solid #aaaaaa;
  margin-top:20px;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 20px;
  width: 20px;
  margin: 0;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

.demo-card-square.mdl-card {
  width: 300px;
  height: 400px;
}

.demo-card-square > .mdl-card__title-text {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform:none !important;
}

.demo-card-square > .mdl-card__supporting-text {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  text-transform:none !important;
}

.demo-card-square > .mdl-card__title {
  width: 100%;
}

.demo-card-square > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}